Django==3.2.3
djangorestframework==3.12.4
djoser==2.1.0
webcolors==1.11.1
pytest==6.2.4
pytest-django==4.4.0
pytest-pythonpath==0.7.3
psycopg2-binary==2.9.10
PyYAML==6.0.2rc1
Pillow==11.3.0
wheel==0.45.1
setuptools==80.9.0
